
{% extends "mainpage.html" %}
{% block content %}
  
    <div class="col-xl mx-4 mt-4">
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Basic Layout</h5>
            <small class="text-muted float-end">Default label</small>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'save_car' %}" enctype="multipart/form-data">
                {% csrf_token %}

              <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Car Name</label>
                <input type="text" class="form-control" id="basic-default-fullname" placeholder="car name" name="carname">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Car Brand</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="car brand" name="brand">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">State</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="state" name="state">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">City</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="city" name="city">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Color</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="color" name="color">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Car Model</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="model" name="model">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Year</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="year" name="year">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Condition</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="condition" name="condition">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Price</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="price" name="price">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-message">Description</label>
                <textarea id="basic-default-message" class="form-control" placeholder="" name="description"></textarea>
              </div>
              
              <div class="mb-3">
                <label for="formFile" class="form-label">Car Photo</label>
                <input class="form-control" type="file" id="formFile" name="image">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Body Style</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="body style" name="bodystyle">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Engine</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="engine" name="engine">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Transmission</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="transmission" name="transmission">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Kilometers</label>
                <input type="number" min="0" class="form-control" id="basic-default-company" placeholder="kilometers" name="kilometers">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Mileage</label>
                <input type="number" min="0" class="form-control" id="basic-default-company" placeholder="milage" name="milage">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">Fuel Type</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="fuel" name="fuel">
              </div>

              <div class="mb-3">
                <label class="form-label" for="basic-default-company">No of Owners</label>
                <input type="text" class="form-control" id="basic-default-company" placeholder="no of owners" name="owners">
              </div>


              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Is Featured </label>
              </div>

              <div class="mb-3 row mt-3">
                <div class="col-md-10">
                  <input class="form-control" type="datetime-local" value="2021-06-18T12:30:00" id="html5-datetime-local-input">
                </div>
              </div>

              <div class="mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
        </div>
      </div>

{% endblock content %}