{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap br-15 bg-f">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Car Listings</h2>

            <div style="position: relative; left: 586px; bottom: 100px;" class="option-item">
                {% if request.session.username %}
                <a href="{% url 'compare' %}" class="btn-two compare">Compare<i class="flaticon-compare"></i></a>
                {% else %}
                <a href="{% url 'user_login' %}" class="btn-two compare">Compare</a>
                {% endif %}
            </div>

            <ul class="breadcrumb-menu list-style">
                <li><a href="{% url 'home' %}">Home </a></li>
                <li>Listings</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Listing Details Section Start -->
<div class="blog-details-wrap ptb-100">
    <div class="container">
        <div class="row">

        <!-- Search Section Start -->
            <div class="col-xxl-3 col-xl-4 col-lg-4 order-xl-1 order-lg-1 order-md-2 order-2">
                <div class="sidebar-two">
                    <div class="sidebar-widget-one">
                        <h3 class="sidebar-widget-one-title">Find Your Dream Car</h3>
                       <form action="{% url 'search' %}" class="filter-search">
                            <div class="form-group">
                                <select name="category">
                                    <option value="0">Select Category</option>
                                    {% for category in category_search %}
                                    <option value="{{category}}">{{category}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="brand">
                                    <option value="0">Select Brand</option>
                                    {% for brand in brand_search %}
                                    <option value="{{brand}}">{{brand}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="year">
                                    <option>Select Car Year</option>
                                    {% for year in year_search %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="condition" >
                                    <option>Select Car Condition</option>
                                    {% for condition in condition_search %}
                                    <option value="{{condition}}">{{condition}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="color">
                                    <option>Select Color</option>
                                    {% for color in color_search %}
                                    <option value="{{color}}">{{color}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="state">
                                    <option>Select State</option>
                                    {% for state in state_search %}
                                    <option value="{{state}}">{{state}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                    <select name="transmission">
                                    <option value="0">Select Transmission</option>
                                    {% for transmission in transmission_search %}
                                    <option value="{{transmission}}">{{transmission}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- <div class="form-group">
                                <select>
                                    <option value="0">Seat Capacity</option>
                                    <option value="1">4 Seat</option>
                                    <option value="2">5 Seat</option>
                                    <option value="3">6 Seat</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select >
                                    <option value="0">Transmission Type</option>
                                    <option value="1">Auto</option>
                                    <option value="2">Manual</option>
                                    <option value="3">Semi-auto</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select >
                                    <option value="0">Engine Capacity Type</option>
                                    <option value="1">Auto</option>
                                    <option value="2">Manual</option>
                                    <option value="3">Semi-auto</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select >
                                    <option value="0">New Or Used</option>
                                    <option value="1">New</option>
                                    <option value="2">Used</option>
                                </select>
                            </div> -->
                            <button type="submit" class="btn-two d-block w-100">Search Car</button>
                       </form>
                    </div>

                </div>
            </div>
        <!-- Search Section End -->

        <!-- Car Section Start -->
            <div class="col-xxl-9 col-xl-8 col-lg-8 order-xl-2 order-lg-1 order-md-1 order-1">
                <div class="search-result-wrap">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-7">
                            <p>Showing {{count}} Results</p>
                        </div>
                        <!-- <div class="col-lg-4 col-md-5">
                            <select >
                                <option value="1">Sort By Price: Low To High</option>
                                <option value="2">Sort By Price: High To Low</option>
                                <option value="3">Sort By Ratings: High To Low</option>
                            </select>
                        </div> -->
                    </div>
                </div>

                <div class="row justify-content-center">
                {% for i in car %}
                    {% if i.is_approved %}
                    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6">
                        <div class="product-card-two">
                            <div class="product-img">
                                <img src="{{i.car_photo.url}}" alt="Image">
                                    <ul class="product-option list-style">
                                    <!-- <li><a href="wishlist.html"><i class="flaticon-heart"></i></a></li> -->
                                    <li><a href="{% url 'singlecar_compare' i.id %}"><i class="flaticon-compare"></i></a></li>
                                </ul>
                            </div>
                            <div class="product-info">
                                <a href="listings.html" class="product-category">{{i.body_style}}</a>
                                <h3><a href="{% url 'car_detail' i.id %}">{{i.car_name}}</a></h3>
                                <div class="product-price">Price: ₹ {{i.price}}</div>
                                <ul class="product-amenity list-style">
                                    <li>Transmission <span>{{i.transmission}}</span></li>
                                    <li>Fuel Type <span>{{i.fuel_type}}</span></li>
                                    <li>Mileage<span>{{i.milage}} (Km/l)</span></li>
                                </ul>
                                <div class="product-ratings">
                                    <ul class="list-style">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                    </ul>
                                    <span>(4k+ Ratings)</span>
                                </div>
                                <a href="{% url 'car_detail' i.id %}" class="btn-one">View Details</a>
                                </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
                {% if car.has_other_pages == True %}
                    <ul class="page-nav list-style">
                        {% if car.has_previous == True %}
                            <li><a href="?page= {{car.previous_page_number}}"><i class="flaticon-left-arrow"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="listings.html"><i class="flaticon-left-arrow"></i></a></li>
                        {% endif %}

                        {% for i in car.paginator.page_range %}
                            {% if car.number == i %}
                                <li><a class="active" href="#">{{i}}</a></li>
                            {% else %}
                                <li><a href="?page= {{i}}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}
                            {% if car.has_next == True %}
                                <li><a href="?page= {{car.next_page_number}}"><i class="flaticon-next"></i></a></li>
                            {% else %}
                                <li class="disabled"><a href=""><i class="flaticon-next"></i></a></li>
                            {% endif %}
                    </ul>
                {% else %}
                    <ul class="page-nav list-style">
                        <li class="disabled"><a href="listings.html"><i class="flaticon-left-arrow"></i></a></li>
                        
                                <li><a class="active" href="#">1</a></li>
                            
                        <li class="disabled"><a href=""><i class="flaticon-next"></i></a></li>
                    </ul>
                {% endif %}
            </div>
        <!-- Car Section End -->
        </div>
    </div>
</div>
<!-- Listing Section End -->

<style>
    select {
        margin-bottom: 10px;
    }
    .disabled {
    pointer-events:none; 
    opacity:0.6;
    }         
    .compare {
        width: 150px;
    }
</style>
  
{% endblock content %}
