{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap br-10 bg-f">
        <div class="container">
            <div class="breadcrumb-title">
                <h2>Contact Us</h2>
                <ul class="breadcrumb-menu list-style">
                    <li><a href="{% url 'home' %}">Home </a></li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

        <!-- Contact Us section Start -->
        <section class="contact-us-wrap ptb-100">
        <div class="container">
            <div class="section-title-two text-center mb-30">
                <span>Contact Us</span>
                <h2>Don't Hesitate To Contact Us</h2>
            </div>
            <div class="row">

                <div class="col-xl-8 col-lg-7 col-12">
                    <div class="contact-form" style="position: relative; left: 230px;">
                        <form class="form-wrap" id="my-contact-form" method="POST" action="{% url 'contact' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Name*" id="name" class="myinput" value="{{request.session.username}}" required readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email*" name="email" id="" required class="myinput">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <input type="number" placeholder="Mobile*" name="phone_number" id="phone_number" required class="myinput"> -->
                                        <input type="tel" id="phone_number" name="phone_number" placeholder="Mobile*" pattern="[0-9]{1}[0-9]{9}" required class="myinput">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" placeholder="Subject*" id="msg_subject" required class="myinput">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group v1">
                                        <textarea style="padding: 20px;" name="message" id="message" placeholder="Your Messages.." cols="30" rows="8" required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .myinput {
            background-color: rgb(247, 247, 247);
            border-style: none;
            border-radius: 5px;
        }
        .col-md-6 {
            padding: 10px;
        }
        .col-md-12 {
            padding: 10px;

        }
        textarea {
            background-color: rgb(247, 247, 247);
            border-style: none;
            border-radius: 5px;
        }
    </style>
 
    <!-- Contact Us section End -->

{% endblock content %}
