{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap br-4 bg-f">
    <div class="container">
        <div class="breadcrumb-title">
            <h2>Dashboard</h2>
            <ul class="breadcrumb-menu list-style">
                <li><a href="{% url 'home' %}">Home </a></li>
                <li>{{request.session.username}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="cart-wrap ptb-100">
    <div class="container">
        <h4 style="position: relative; bottom: 40px; color: red;">Your Enquiries</h4>
        <div class="cart-table ">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <!-- <th scope="col">Trash</th> -->
                        <th scope="col">User Name</th>
                        <th scope="col">Car Name </th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enquiry in enq_data %}
                    {% if enquiry.name == request.session.username %}
                    <tr style="text-align: center;">
                        <!-- <td>
                            <button class="cart-action" type="button">
                                <i class="ri-delete-bin-5-fill"></i>
                            </button>
                        </td> -->
                        <td style="text-align: center;">
                            <a class="cart-item" href="shop-details.html">
                                <span>{{enquiry.name}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{enquiry.car_name}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{enquiry.email}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{enquiry.message}}</span>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="cart-wrap ptb-100" style="position: relative; bottom: 50px;">
    <div class="container">
        <h4 style="position: relative; bottom: 40px; color: red;">Your Test Drives</h4>
        <div class="cart-table ">
            <table class="table">
                <thead>
                    <tr style="text-align: center;">
                        <!-- <th scope="col">Trash</th> -->
                        <th scope="col">User Name</th>
                        <th scope="col">Car Name </th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">preferred_day</th>
                        <th scope="col">preferred_time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in test_data %}
                    {% if test.name == request.session.username %}
                    <tr style="text-align: center;">
                        <!-- <td>
                            <button class="cart-action" type="button">
                                <i class="ri-delete-bin-5-fill"></i>
                            </button>
                        </td> -->
                        <td style="text-align: center;">
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.name}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.car_name}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.email}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.mobile}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.preferred_day}}</span>
                            </a>
                        </td>
                        <td>
                            <a class="cart-item" href="shop-details.html">
                                <span>{{test.preferred_time}}</span>
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}