{% extends "base.html" %}

{% load static %}
     
{% block content %}
  
        <!-- Hero Section Start -->
        <div class="hero-wrap hero-two">
            <img src="{% static 'assets/img/hero/hero-shape-9.webp' %}" alt="Image" class="hero-shape-one bounce">
            <img src="{% static 'assets/img/hero/hero-shape-9.webp' %}" alt="Image" class="hero-shape-two ">
            <img src="{% static 'assets/img/hero/hero-shape-11.webp' %}" alt="Image" class="hero-shape-three">
            <img src="{% static 'assets/img/hero/hero-shape-11.webp' %}" alt="Image" class="hero-shape-four">
            <img src="{% static 'assets/img/hero/hero-shape-12.webp' %}" alt="Image" class="hero-shape-five">
            <img src="{% static 'assets/img/hero/hero-shape-10.webp' %}" alt="Image" class="hero-shape-six moveHorizontal">
            <img src="{% static 'assets/img/hero/hero-logo-4.webp' %}" alt="Image" class="hero-logo-one animationFramesTwo">
            <img src="{% static 'assets/img/hero/hero-logo-5.webp' %}" alt="Image" class="hero-logo-two bounce">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-6">
                        <div class="hero-content">
                            <span>Find The Right Car For You</span>
                            <h1>Find Your Next Car With TrueValue</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod ste dolore magnam aliquam quaerat demi text voluptatem dolore amet magna aliqua.</p>
                            <div class="hero-btn">
                                <a href="{% url 'all_cars' %}" class="btn-two">Get Started</a>
                                <a href="{% url 'about' %}" class="btn-three">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6">
                        <div class="hero-img-wrap">
                            <img src="{% static 'assets/img/hero/hero-img-4.webp' %}" alt="Image" >
                            <span>Classic</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Section End -->

        <!-- Filter Product Section Start -->
        <div class="container" >
            <form action="{% url 'search' %}" class="filter-product-two">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_make">Car Category</label>
                            <select name="category" >
                                <option value="0" >Select Car Category</option>
                                {% for category in category_search %}
                                <option value="{{category}}">{{category}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_model">Car Brand</label>
                            <select name="brand" required>
                                <option >Select Car Brand</option>
                                {% for brand in brand_search %}
                                <option value="{{brand}}">{{brand}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_year">Select Year</label>
                            <select name="year" required>
                                <option>Select Car Year</option>
                                {% for year in year_search %}
                                <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_condition">Car Condition</label>
                            <select name="condition" required>
                                <option>Select Car Condition</option>
                                {% for condition in condition_search %}
                                <option value="{{condition}}">{{condition}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_offer">Car Color</label>
                            <select name="color" required>
                                <option>Select Color</option>
                                {% for color in color_search %}
                                <option value="{{color}}">{{color}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_price">Transmission</label>
                            <select name="transmission" required>
                                <option value="0">Select Transmission</option>
                                {% for transmission in transmission_search %}
                                <option value="{{transmission}}">{{transmission}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <label for="car_milieage">Select State</label>
                            <select name="state" required>
                                <option>Select State</option>
                                {% for state in state_search %}
                                <option value="{{state}}">{{state}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn-two d-block w-100">Search Now</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Filter Product Section End -->

        <!-- Category Section Start -->

                            <!-- <div class="category-wrap ptb-100">
                                <div class="container">
                                    <div class="section-title-two text-center mb-30">
                                        <span>Category</span>
                                        <h2>Find The Best Car For You</h2>
                                    </div>
                                    <div class="category-slider-two owl-carousel">
                                    {% for i in category %}
                                        <div class="category-card-two">
                                            <div class="cat-img">
                                                <img src="{{i.category_image.url}}" alt="Image" style="min-height: 100px; max-height: 200px;">
                                            </div>
                                            <h3><a href="{% url 'cars' car_name=i.category_name %}">{{i.category_name}}</a></h3>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div> -->

        <div class="product-wrap pt-100 pb-70 bg_ash">
            <div class="container">
                <div class="section-title-two text-center mb-40">
                    <span>Category</span>
                    <h2>Find The Best Car For You</h2>
                </div>
                <div class="row justify-content-center">
                {% for i in category %}
                    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6" >
                        <div class="product-card-two">
                            <div class="cat-img">
                                <img src="{{i.category_image.url}}" alt="Image">
                            </div>
                            <!-- <h3><a href="{% url 'cars' car_name=i.category_name %}">{{i.category_name}}</a></h3> -->
                            <div class="product-info">
                                <a href="listings.html" class="product-category">{{i.body_style}}</a>
                               
                                <!-- <div class="product-ratings">
                                    <ul class="list-style">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                    </ul>
                                </div> -->
                                <a href="{% url 'cars' car_name=i.category_name %}" class="btn-one">{{i.category_name}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <!-- Category Section End -->

        <!-- Featured Section Start -->
        <div class="product-wrap pt-100 pb-70 bg_ash">
            <div class="container">
                <div class="section-title-two text-center mb-40">
                    <span>Popular Listings</span>
                    <h2>View Top Featured Listings</h2>
                </div>
                <div class="row justify-content-center">
                {% for i in featured %}
                    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6" >
                        <div class="product-card-two">
                            <div class="product-img">
                                <img src="{{i.car_photo.url}}" alt="Image">
                                 <ul class="product-option list-style">
                                    <!-- <li><a href="#"><i class="flaticon-heart"></i></a></li>
                                    <li><a href=""><i class="flaticon-compare"></i></a></li> -->
                                </ul>
                            </div>
                            <label style="font-size: 16px; position: relative; bottom: 165px; right: 10px;" class="float-end badge bg-danger trending-tag">Featured</label>
                            <div class="product-info">
                                <a href="listings.html" class="product-category">{{i.body_style}}</a>
                                <h3><a href="{% url 'car_detail' i.id %}">{{i.car_name}}</a></h3>
                                <div class="product-price">Price: ₹ {{i.price}}</div>
                                <ul class="product-amenity list-style">
                                    <li>Transmission <span>{{i.transmission}}</span></li>
                                    <li>Fuel Type <span>{{i.fuel_type}}</span></li>
                                    <li>Mileage<span>{{i.milage}} (Km/l)</span></li>
                                </ul>
                                <div class="product-ratings">
                                    <ul class="list-style">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                    </ul>
                                </div>
                                <a href="{% url 'car_detail' i.id %}" class="btn-one">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Featured Section End -->

        <!-- New cars Section Start -->
        <div class="product-wrap pt-30 pb-70 bg_ash">
            <div class="container">
                <div class="section-title-two text-center mb-40">
                    <span>New Listings</span>
                    <h2>View Latest Cars</h2>
                </div>
                <div class="row justify-content-center">
                {% for i in new_cars %}
                    <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-6" >
                        <div class="product-card-two">
                            <div class="product-img">
                                <img src="{{i.car_photo.url}}" alt="Image" >
                                <ul class="product-option list-style">
                                    <!-- <li><a href="#"><i class="flaticon-heart"></i></a></li>
                                    <li><a href="#"><i class="flaticon-compare"></i></a></li> -->
                                </ul>
                            </div>
                            <label style="font-size: 16px; position: relative; bottom: 165px; right: 10px;" class="float-end badge bg-danger trending-tag">New</label>
                            <div class="product-info">
                                <a href="listings.html" class="product-category">{{i.body_style}}</a>
                                <h3><a href="{% url 'car_detail' i.id %}">{{i.car_name}}</a></h3>
                                <div class="product-price">Price: ₹ {{i.price}}</div>
                                <ul class="product-amenity list-style">
                                    <li>Transmission <span>{{i.transmission}}</span></li>
                                    <li>Fuel Type <span>{{i.fuel_type}}</span></li>
                                    <li>Mileage<span>{{i.milage}} (Km/l)</span></li>
                                </ul>
                                <div class="product-ratings">
                                    <ul class="list-style">
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                        <li><i class="ri-star-fill"></i></li>
                                    </ul>
                                </div>
                                <a href="{% url 'car_detail' i.id %}" class="btn-one">View Details</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- New cars Section End -->

        <!-- Call To Action Section Start -->
        <div class="cta-wrap ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-lg-7 col-md-7">
                        <div class="cta-content">
                            <div class="section-title-two">
                                <h2 class="text-white">Gift Your Family A <span>Trusted</span> New Car!</h2>
                                <p  class="text-white">Lorem ipsum dolor amet consectetur adipisicing elit sed do eiusmod cste dolore magnam aliquam quaerat demi text voluptatem dolore amet magna aliqua magna elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-5 text-md-end">
                        {% if request.session.username %}
                        <a href="{% url 'contact' %}" class="btn-two">Contact Us Now</a>
                        {% else %}
                        <a href="{% url 'user_login' %}" class="btn-two">Contact Us Now</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Call To Action Section End -->


        <!-- Testimonial Section Start -->
        <!-- <div class="testimonial-wrap-two bg-f ptb-100">
            <div class="container">
                <div class="section-title-two text-center mb-30">
                    <span>Testimonials</span>
                    <h2 class="text-white">What Our Customer Say</h2>
                </div>
                <div class="testimonial-slider-two owl-carousel">
                    <div class="testimonial-card-two">
                        <div class="client-info-wrap">
                            <div class="client-img">
                                <img src="{% static 'assets/img/clients/client-4.webp' %}" alt="Image">
                            </div>
                            <div class="client-info">
                                <h3>George Brown</h3>
                                <span>Customer Advisor</span>
                            </div>
                            <div class="quote-icon">
                                <i class="flaticon-quote"></i>
                            </div>
                        </div>
                        <p class="client-quote">“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout he point of using Lorem Ipsum is that it has a moreor less normal distribution of letters as opposed to using content here content here making it look like readable english many desktop publishing dolore.”</p>
                        <ul class="ratings list-style">
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                            <li><i class="ri-star-fill"></i></li>
                        </ul>
                    </div>
                    <div class="testimonial-card-two">
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="{% static 'assets/img/clients/client-6.webp' %}" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Miranda Halim</h3>
                                    <span>General Manager</span>
                                </div>
                                <div class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                            <p class="client-quote">“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout he point of using Lorem Ipsum is that it has a moreor less normal distribution of letters as opposed to using content here content here making it look like readable english many desktop publishing dolore.”</p>
                            <ul class="ratings list-style">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-card-two">
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="{% static 'assets/img/clients/client-1.webp' %}" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Kate Stewart</h3>
                                    <span>Happy Customer</span>
                                </div>
                                <div class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                            <p class="client-quote">“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout he point of using Lorem Ipsum is that it has a moreor less normal distribution of letters as opposed to using content here content here making it look like readable english many desktop publishing dolore.”</p>
                            <ul class="ratings list-style">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="testimonial-card-two">
                        <div class="client-info-area">
                            <div class="client-info-wrap">
                                <div class="client-img">
                                    <img src="{% static 'assets/img/clients/client-5.webp' %}" alt="Image">
                                </div>
                                <div class="client-info">
                                    <h3>Kilian Anderson</h3>
                                    <span>Web Designer</span>
                                </div>
                                <div class="quote-icon">
                                    <i class="flaticon-quote"></i>
                                </div>
                            </div>
                            <p class="client-quote">“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout he point of using Lorem Ipsum is that it has a moreor less normal distribution of letters as opposed to using content here content here making it look like readable english many desktop publishing dolore.”</p>
                            <ul class="ratings list-style">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Testimonial Section End -->




        {% endblock content %}