{% extends "base.html" %}
{% load static %}

{% block content %}

        <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap br-8  bg-f">
        <div class="container">
            <div class="breadcrumb-title">
                <h2>Our Services</h2>
                <ul class="breadcrumb-menu list-style">
                    <li><a href="{% url 'home' %}">Home </a></li>
                    <li>Service</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Service Section Start -->
    <div class="service-wrap ptb-100">
        <div class="container">
            <div class="row">
                <div class="section-title-two text-center mb-40">
                    <span>Our Services</span>
                    <h2>Services We Offer For You</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-1.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-van"></i>
                            </span>
                            <h3><a href="service-details.html">Engine & Transmission</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-2.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-hand-gesture"></i>
                            </span>
                            <h3><a href="service-details.html">Brake Service & Repair</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-3.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-technical-support"></i>
                            </span>
                            <h3><a href="service-details.html">Heating & AC Repairs</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-4.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-drive-thru"></i>
                            </span>
                            <h3><a href="service-details.html">Brake Checkup</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-5.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-car"></i>
                            </span>
                            <h3><a href="service-details.html">Securiy Inspection</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="service-card">
                        <div class="service-img">
                            <img src="{% static 'assets/img/services/service-6.webp' %}" alt="Image">
                        </div>
                        <div class="service-info">
                            <span class="service-icon">
                                <i class="flaticon-gear-1"></i>
                            </span>
                            <h3><a href="service-details.html">Engine Upgrades</a></h3>
                            <p>Lorem Ipsum has been the industry sta dummy text ever since the dolor when an unknown printer took a galley of type dolore magna aliqua.</p>
                            <a href="service-details.html" class="link-one">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ul class="page-nav list-style">
                <li><a href="services.html"><i class="flaticon-left-arrow"></i></a></li>
                <li><a class="active" href="services.html">1</a></li>
                <li><a href="services.html">2</a></li>
                <li><a href="services.html">3</a></li>
                <li><a href="services.html"><i class="flaticon-next"></i></a></li>
            </ul> -->
        </div>
    </div>
    <!-- Service Section End -->

  
{% endblock content %}

